

#type img {
    height: 6rem;
    margin-right: 2rem;
}

#typeM img {
    height: 6rem;
    margin-right: 2rem;
}

#validateDiv {
    background: rgb(38, 50, 56);
    height: 10%;
    width: 100%;
    position: absolute;

}

#validateDiv img { /*logo的位置*/
    height: 4rem;
    width: auto;
    left: 21%;
    position: absolute;
    top: 25%
}

[id^=role-] {
    position: relative;
}

[id^=role-] div:nth-child(1) {
    margin: -5% 0 -5% 0;
}

[id^=action-]{
    margin-top: 0.5rem;
}

#zhedie {
    height: 99%;
    color: #d3d3d3;
    border: none;
    width: 20%;
    /*background: rgb(38, 50, 56);*/
}

#zhedie:hover {
    background: rgb(64, 89, 102);

}

#menuDiv {
    min-height: 90%;
    background: rgb(38, 50, 56);
    transition:transform 1s;
    position: absolute;
    top: 10%;
    float: left;
    border-top: solid rgba(200, 200, 200, 0.3) 1px;
    color: #d3d3d3;
    font-size: 10px;

}

[id^=action-] {
    display: none;
    font-size: 8px;
}

#contentDiv {
    transition: width 1s;
    position: absolute;
    right: 0;
    top: 10%;
    background: rgb(201, 225, 233);
    min-height: 90%;
}

@media (min-width: 680px) {
    #menuDiv {
        font-size: 12px;
        top: 15%;
    }

    [id^=action-] {
        font-size: 10px;
    }

    #validateDiv {
        height: 15%;
    }

    #contentDiv {
        top: 15%;
    }
}

@media (min-width: 992px) {
    #menuDiv {
        font-size: 15px;
        top: 10%;
    }

    [id^=action-] {
        font-size: 13px;
    }

    #validateDiv {
        height: 10%;
    }

    #contentDiv {
        top: 10%;
    }

    #zhedie {
        width: 10%;
    }

    #validateDiv img { /*logo的位置*/
        left: 11%;
    }
}

@media (min-width: 1200px) {
    #menuDiv {
        top: 8%;
    }

    #validateDiv {
        height: 8%;
    }

    #contentDiv {
        top: 8%;
    }
}

#menuDiv > div {
    padding: 5% 0 5% 5%;
    border-top: solid rgba(200, 200, 200, 0.3) 1px;
}

#menuDiv > div > div {
    padding: 5% 0 5% 10%;

}

#menuDiv div {
    cursor: pointer;
}

#menuDiv > div > div:hover {
    cursor: pointer;
    background: rgb(64, 89, 102);
}