<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="overflow-x:hidden" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="plugins/include_javascript::js"></head>
<link type="text/css" rel="stylesheet" th:href="@{/css/pages/back/menu.css}"/>
<script type="text/javascript" th:src="@{/js/pages/back/index.js}"></script>
<style type="text/css">
    #dntb tr td {
        vertical-align: middle;
    }
</style>
<body style="overflow-x:hidden;visibility: hidden" id="body">
<div class="container-fluid">
    <div th:replace="plugins/head_menu::head_menu"></div><!--引入写好的头部和左侧信息-->
    <div id="contentDiv"><!--这里是主体-->
        <div style="text-align: center;font-size: 4rem">编辑消息</div>
        <div class="row">
            <div class="col-xs-10 col-xs-push-1 " style="border: solid #d3d3d3 1px;;border-radius: 5px;">
                <form id="form" th:action="@{/pages/back/finance/edit}"  method="post">
                    <input type="hidden" id="messageid" th:value="${message.messageid}"/>
                    <div class="form-group form-inline">
                        <label>标题:</label>
                        <input type="text" id="title1" name="title" class="form-control" th:value="${message.title}" style="font-size: 20px;min-height: 30px" placeholder="请输入标题"/>
                        <span id="titleMsg"></span>
                    </div>
                    <div class="form-group form-inline">
                        <label>内容:</label>
                        <textarea id="note" style="min-height:20rem ;width: 100%;font-size:18px" name="note" class="form-control" th:text="${message.note}" placeholder="请输入内容"></textarea>
                        <span id="noteMsg"></span>
                    </div>
                    <div>请选择收件人:</div>
                    <div class="form-inline" style="display: inline-block;margin: 1rem">
                        <input class="form-control" style="width:6rem;height: 6rem" type="checkbox" id="selectAll"/><label style="color: red">全选</label>
                    </div>
                    <br/>
                    <div class="form-inline" style="display: inline-block;margin: 1rem" th:each="member:${allMember}">
                        <input class="form-control" style="width: 4rem" type="checkbox" th:id="'check-'+${member.memberid}"/><div th:text="${member.name}"></div>
                    </div>
                    <br/>

                    <button id="add" class="btn btn-success" type="submit" style="margin: 2rem">修改</button>
                    <button id="sendTo" class="btn btn-primary" type="submit" style="margin: 2rem">修改并发送</button>

                    <a href="javascript:history.go(-1);">
                        <button id="cancel" class="btn btn-danger" type="button" style="margin: 2rem">取消修改</button>
                    </a>
                </form>
            </div>
        </div>


    </div>
</div>
</body>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/pages/back/message/message-editPre.js}"></script>
</html>
