<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="overflow-x:hidden" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="plugins/include_javascript::js"></head>
<link type="text/css" rel="stylesheet" th:href="@{/css/pages/back/menu.css}"/>
<script type="text/javascript" th:src="@{/js/pages/back/index.js}"></script>
<style type="text/css">
    #logtb tr td {
        vertical-align: middle;
    }
</style>
<body style="overflow-x:hidden;visibility: hidden" id="body">
<div class="container-fluid">
    <div th:replace="plugins/head_menu::head_menu"></div><!--引入写好的头部和左侧信息-->
    <div id="contentDiv"><!--这里是主体-->
        <div style="text-align: center;font-size: 4rem">日志列表</div>
        <div th:replace="plugins/search::search"></div>
        <div class="row">
            <div class="col-xs-12">
                <table id="logtb" class="table  table-hover table-responsive  " style="text-align: center">
                    <tr id="row1" style="font-weight: bold">
                        <td width="3rem"><input class="form-control" type="checkbox" id="checkAll"
                                                style="width: 3rem;"/></td>
                        <td style="text-align: left">公司-项目-类型-<select id="status">
                            <option value="进行中">进行中</option>
                            <option value="完结">完结</option>
                            <option value="暂停">暂停</option>
                            <option value="其他">其他</option>
                            <option value="">所有</option>
                        </select>状态
                        </td>
                        <td>协调</td>
                        <td>日志类型</td>
                        <td>内容
                        </td>
                        <td>
                            <div>
                                时间-作者
                            </div>
                            <select class="form-control" style="width: 8rem;padding:0;display: inline-block" id="y">
                                <option value="">所有</option>

                                <option th:each="x:${#numbers.sequence(2018,2038)}" th:text="${x}"
                                        th:selected="${#strings.arraySplit(date,'-')[0]==#strings.toString(x)?true:false}"></option>
                            </select>
                            <div style="display: inline-block">
                                年
                            </div>
                            <select id="m" class="form-control" style="width: 8rem;padding:0;display: inline-block">
                                <option value="">全年</option>
                                <option th:each="x:${#numbers.sequence(1,12)}" th:text="${x}"
                                        th:selected="${#strings.arraySplit(date,'-')[1]==#strings.toString(x)?true:false}"></option>
                            </select>
                            <div style="display: inline-block">
                                月
                            </div>
                            <select id="d" class="form-control" style="width: 8rem;padding:0;display: inline-block">
                                <option value="">全月</option>

                                <option th:each="x:${#numbers.sequence(1,31)}" th:text="${x}"></option>
                            </select>
                            <div style="display: inline-block">
                                日
                            </div>
                            <div style="display: inline-block;position: relative;">
                                <select id="author" class="form-control"
                                        style="width: 11rem;;display: inline-block;">
                                    <option value="">所有</option>
                                    <option th:each="m:${allMembers}" th:text="${m.name}"
                                            th:value="${m.memberid}"></option>
                                </select>
                                <input style="width: 9rem;position: absolute;border-radius: 5px 0 0 5px;z-index:2;border-right: none;top: 0"
                                       type="text" id="authorInput" value="所有" class="form-control"/>
                            </div>
                        </td>
                        <td>操作</td>
                    </tr>
                </table>
            </div>
        </div>
        <button class="btn btn-danger" id="pldele" shiro:hasPermission="log:delete">批量删除</button>
        <div th:replace="plugins/splitBar::splitBar"></div>
    </div>
</div>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/pages/back/log/log-list.js}"></script>
</body>
</html>
