<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="overflow-x:hidden" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="plugins/include_javascript::js"></head>
<link type="text/css" rel="stylesheet" th:href="@{/css/pages/back/menu.css}"/>
<script type="text/javascript" th:src="@{/js/pages/back/index.js}"></script>
<style type="text/css">
    #dntb tr td {
        vertical-align: middle;
    }
</style>
<body style="visibility: hidden" id="body">
<div class="container-fluid">
    <div th:replace="plugins/head_menu::head_menu"></div><!--引入写好的头部和左侧信息-->
    <div id="contentDiv"><!--这里是主体-->
        <div style="text-align: center;font-size: 4rem">项目列表</div>
        <div th:replace="plugins/search::search"></div>
        <div class="row">
            <div class="col-xs-12">
                <table id="dntb" class="table  table-hover table-responsive  " style="text-align: center">
                    <tr id="row1" style="font-weight: bold">
                        <td><input style="min-width: 2.5rem" class="form-control" type="checkbox" id="selectAll"/></td>
                        <td style="text-align: left">公司名称-项目名称</td>
                        <td width="3%">类型<select style="width: 7rem;padding: 0;" id="selectType" class="form-control" >
                            <option value="">所有</option>
                            <option value="zz">资质</option>
                            <option value="gk">挂靠</option>
                            <option value="dp">代评</option>
                            <option value="px">培训</option>
                            <option value="qt">其他</option>
                        </select></td>
                        <td id="xuanBt">选人才</td>
                        <td>查看人才</td>
                        <td>日志</td>
                        <td>执行人</td>
                        <td>签订日期</td>
                        <td>完成时间</td>
                        <td>进展<select id="status">
                            <option>进行中</option>
                            <option>暂停</option>
                            <option>完结</option>
                            <option value="">所有</option>
                        </select></td>
                    </tr>
                </table>
                <button shiro:hasRole="project-p" id="deleCheked" class="btn btn-danger" style="margin-left: 5rem">删除所选</button>
            </div>
        </div>
        <div th:replace="plugins/splitBar::splitBar">
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/pages/back/project/project-list.js}"></script>
</html>
