<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="overflow-x:hidden" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="plugins/include_javascript::js"></head>
<link type="text/css" rel="stylesheet" th:href="@{/css/pages/back/menu.css}"/>
<script type="text/javascript" th:src="@{/js/pages/back/index.js}"></script>
<style type="text/css">
    #dntb tr td{
        vertical-align: middle;
    }
</style>
<body style="overflow-x:hidden;visibility: hidden" id="body">
<div class="container-fluid">
    <div th:replace="plugins/head_menu::head_menu"></div><!--引入写好的头部和左侧信息-->
    <div id="contentDiv"><!--这里是主体-->
        <div style="text-align: center;font-size: 4rem">客户列表</div>
        <div th:replace="plugins/search::search"></div>
        <div class="row">
            <div class="col-xs-12">
                <table id="dntb" class="table  table-hover table-responsive  " style="text-align: center">
                    <tr id="row1" style="font-weight: bold">
                        <td ><input class="form-control" type="checkbox" id="selectAll"/></td>
                        <td >公司名称</td>
                        <td>联系人|电话|QQ</td>
                        <td>资质</td>
                        <td>挂靠</td>
                        <td>代评</td>
                        <td>培训</td>
                        <td>其他</td>
                        <td style="width: 50rem">说明</td>
                        <td>进展
                            <select id="status">
                                <option value="">所有</option>
                                <option value="完结">完结</option>
                                <option value="暂停">暂停</option>
                                <option value="进行中">进行中</option>
                            </select>
                        </td>
                        <td>签约时间</td>
                        <td>完成时间</td>
                    </tr>
                </table>
                <button id="deleCheked" class="btn btn-danger" style="margin-left: 5rem">删除所选</button>
            </div>
        </div>
        <div th:replace="plugins/splitBar::splitBar">
        </div>
    </div>
</div>
</body>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/pages/back/contract/contract-list.js}"></script>
</html>
