<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="overflow-x:hidden">
<head th:include="plugins/include_javascript::js"></head>
<link type="text/css" rel="stylesheet" th:href="@{/css/pages/back/menu.css}"/>
<style type="text/css">
    form label {
        text-align: right;
    }
</style>
<link rel="stylesheet" type="text/css" th:href="@{/bootstrap/dateTimePicker/bootstrap-datetimepicker.min.css}"/>
<script type="text/javascript" th:src="@{/bootstrap/dateTimePicker/bootstrap-datetimepicker.min.js}"></script>
<script type="text/javascript" th:src="@{/bootstrap/dateTimePicker/bootstrap-datetimepicker.zh-CN.js}"></script>
<script type="text/javascript" th:src="@{/js/pages/back/index.js}"></script>
<script type="text/javascript" th:src="@{/js/pages/back/member/member_addPre.js}"></script>

<body style="visibility: hidden" id="body">
<div class="container-fluid">
    <div th:replace="plugins/head_menu::head_menu"></div><!--引入写好的头部和左侧信息-->
    <div id="contentDiv"><!--这里是主体-->
        <div style="text-align: center;font-size: 4rem">添加员工</div>
        <div class="row">
            <div class="col-xs-10 col-xs-push-1 " style="border: solid #d3d3d3 1px;border-radius: 5px;">
                <form class="form" id="formDiv" enctype="multipart/form-data" method="post"
                      th:action="@{/pages/back/member/add}">
                    <div class="form-inline form-group ">
                        <label>账户名：</label>
                        <input class="form-control" type="text" placeholder="请输入账户名" name="memberid" th:id="memberid"/>
                        <span th:id="memberidMsg" style="margin-left: 2rem"></span>
                    </div>
                    <div class="form-inline form-group ">
                        <label>密码：</label>
                        <input class="form-control" type="password" id="password" name="password"
                               placeholder="请输入密码"/>
                        <label id="surePwd">确认密码：</label>
                        <input class="form-control" type="password" id="password2" name="password2"
                               placeholder="请输入密码"/> <span th:id="passwordMsg" style="margin-left: 2rem"></span>
                    </div>
                    <div class="form-inline form-group ">
                        <label>姓名：</label>
                        <input class="form-control" type="text" id="name" name="name" placeholder="请输入姓名"/>
                        <span th:id="nameMsg" style="margin-left: 2rem"></span>
                    </div>
                    <div class="form-inline form-group ">
                        <label>身份证号：</label>
                        <input class="form-control" type="text" id="idCard" style="width: 250px" name="idCard" placeholder="请输入身份证号码"/>
                        <span th:id="idCardMsg" style="margin-left: 2rem"></span>
                    </div>

                    <div class="form-inline form-group ">
                        <label>照片：</label>
                        <img th:src="@{/upload/member/nophoto.png}" alt="请上传照片" id="preview"
                             style="width: 10rem;border-radius: 5px;cursor: pointer"/><br/>
                        <span class="btn btn-xs btn-success" style="margin-top: 2rem" id="reUpload">上传(5M以内)</span>
                        <span></span>
                        <input type="file" style="display: none" name="pic" id="pic"/>
                    </div>

                    <div class="form-inline form-group ">
                        <label>年龄：</label>
                        <input class="form-control" placeholder="请输入年龄" th:readonly="true" id="age" name="age"/>
                        <span th:id="ageMsg" style="margin-left: 2rem"></span>
                    </div>
                    <div class="form-inline form-group ">
                        <div style="display: inline-block">
                            <label>性别：</label>
                        </div>
                        <div style="display: inline-block">
                            <input class="form-control" type="radio" style="width: 3rem" name="sex" th:value="男"
                                   th:checked="true"/>
                            <div style="text-align: center">男</div>
                        </div>
                        <div style="display: inline-block;margin-left: 3rem">
                            <input class="form-control" type="radio" style="width: 3rem" name="sex" th:value="女"/>
                            <div style="text-align: center">女</div>
                        </div>
                    </div>
                    <div class="form-inline form-group ">
                        <label>部门：</label>
                        <select class="form-control" id="dept" name="dept">
                            <option value="">请选择部门</option>
                            <option th:value="${dept.deptid}" th:each="dept:${allVo}"
                                    th:text="${dept.dname}"></option>
                        </select>
                        <span th:id="deptMsg" style="margin-left: 2rem"></span>
                    </div>
                    <div class="form-inline form-group ">
                        <label>职位：</label>
                        <select class="form-control" id="jobid" name="jobid">
                            <option id="jobOne" value="">请选择职位</option>
                        </select>
                        <span th:id="jobidMsg" style="margin-left: 2rem"></span>
                    </div>

                    <div class="form-inline form-group">
                        <label>入职日期：</label>
                        <div class='input-group date' id='datetimepicker1'>
                            <input type='text' class="form-control" style="margin-left: -0.1rem" placeholder="不填则为今天"
                                   th:readonly="true" id="regdate" name="regdate"/>
                            <span class="input-group-addon">
                             <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-inline form-group ">
                        <label>办公电话：</label>
                        <input class="form-control" placeholder="请输入电话" id="bgPhone" name="bgPhone"/>
                        <span th:id="bgPhoneMsg" style="margin-left: 2rem"></span>
                    </div>
                    <div class="form-inline form-group ">
                        <label>私人电话：</label>
                        <input class="form-control" placeholder="请输入电话" id="phone" name="phone"/>
                        <span th:id="phoneMsg" style="margin-left: 2rem"></span>
                    </div>


                    <div class="form-inline form-group ">
                        <button type="submit" class="btn btn-success">确认添加</button>
                        <a th:href="@{/pages/back/loginSuccess}">
                            <button class="btn btn-danger" type="button">取消添加</button>
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>

</html>
