<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="overflow-x:hidden">
<head th:include="plugins/include_javascript::js"></head>
<link type="text/css" rel="stylesheet" th:href="@{/css/pages/back/menu.css}"/>
<style type="text/css">
    form label {
        text-align: right;
    }
</style>
<script type="text/javascript" th:src="@{/js/pages/back/index.js}"></script>
<script type="text/javascript ">

    $(function () {
        if (windowNW > 992) {
            $("form label").css({
                width: $("#surePwd").width()
            });
        }
        $("#dept").change(function () {

            var deptid = this.value;
            $.get("/pages/back/dept/getJobsByDeptId", {deptid: deptid}, function (jobs) {
                var jobOne=$("#jobOne");
                jobOne.nextAll().remove();
                for (var x = 0;jobs.length> x  ; x++) {
                    var job = jobs[x];
                    jobOne.after($("<option value="+job.jobid+">"+job.name+"</option>"))
                }
            }, "json")

        });

        $("#reUpload").click(function () {
            $("[type=file]").click();
        });
        $("[type=file]").change(
            function () {
                $("#reUpload").next().empty();
                $("#reUpload").next().append(this.value);
                imgPreview(this);
            }
        );
        $("#formDiv").validate({
            debug: true, // 取消表单的提交操作
            submitHandler: function (form) {
                form.submit(); // 提交表单
                //出现数据加载
                showLoadingData();
            },
            errorPlacement: function (error, element) {
                $("#" + $(element).attr("id") + "Msg").append(error);
            },
            highlight: function (element, errorClass) {
                $(element).fadeOut(1, function () {
                    $(element).fadeIn(1, function () {
                        $(element).css({
                            "box-shadow": "0 0 10px rgba(255,0,0,1)"
                        })
                    });

                })
            },
            unhighlight: function (element, errorClass) {
                $(element).fadeOut(1, function () {
                    $(element).fadeIn(1, function () {
                        $(element).css({
                            "box-shadow": "0 0 10px rgba(0,255,0,1)"
                        });
                    });
                })
            },
            errorClass: "text-danger",
            messages: {
                name: "请输入姓名",
                phone: "请输入正确的手机号",
                age: "18到155岁之间",
                dept: "请选择部门",
                jobid: "请选择职位",
                memberid: {
                    required: "请输入用户名",
                    remote: "该用户已存在"
                }
            },
            rules: {
                memberid: {
                    required: true,
                    remote: {
                        url: "/pages/back/member/checkMemberid", // 后台处理程序
                        type: "post", // 数据发送方式
                        dataType: "json", // 接受数据格式
                        data: { // 要传递的数据
                            phone: function () {//必须用过这样的方式取得表单数据
                                return $("#memberid").val();
                            }
                        },
                        dataFilter: function (data) {
                            return data;
                        }
                    }
                },
                name: {
                    required: true
                },
                age: {
                    required: true,
                    digits: true,
                    range: [18, 155]
                },
                password: {
                    required: true,
                    equalTo: $("#password2")
                },
                password2: {
                    equalTo: $("#password")
                }
                , dept: {
                    required: true
                }
                , jobid: {
                    required: true
                }
                ,
                phone: {
                    required: true,
                    digits: true,
                    rangelength: [11, 11],
                    remote: {
                        url: "/checkCellPhoneNumber", // 后台处理程序
                        type: "post", // 数据发送方式
                        dataType: "json", // 接受数据格式
                        data: { // 要传递的数据
                            phone: function () {//必须用过这样的方式取得表单数据
                                return $("#phone").val();
                            }
                        },
                        dataFilter: function (data) {
                            return data;
                        }
                    }

                }
            }
        });

    })


</script>
<body style="overflow-x:hidden;visibility: hidden" id="body">
<div class="container-fluid">
    <div th:replace="plugins/head_menu::head_menu"></div><!--引入写好的头部和左侧信息-->
    <div id="contentDiv"><!--这里是主体-->
        <div style="text-align: center;font-size: 4rem">添加员工</div>
        <div class="row">
            <div class="col-xs-10 col-xs-push-1 " style="border: solid #d3d3d3 1px;border-radius: 5px;">
                <form class="form" id="formDiv" enctype="multipart/form-data" method="post"
                      th:action="@{/pages/back/member/add}">
                    <div class="form-inline form-group ">
                        <label>账户名：</label>
                        <input class="form-control" type="text" placeholder="请输入账户名" name="memberid" th:id="memberid"/>
                        <span th:id="memberidMsg" style="margin-left: 2rem"></span>
                    </div>
                    <div class="form-inline form-group ">
                        <label>密码：</label>
                        <input class="form-control" type="password" id="password" name="password"
                               placeholder="请输入密码"/>
                        <label id="surePwd">确认密码：</label>
                        <input class="form-control" type="password" id="password2" name="password2"
                               placeholder="请输入密码"/> <span th:id="passwordMsg" style="margin-left: 2rem"></span>
                    </div>
                    <div class="form-inline form-group ">
                        <label>姓名：</label>
                        <input class="form-control" type="text" id="name" name="name" placeholder="请输入姓名"/>
                        <span th:id="nameMsg" style="margin-left: 2rem"></span>
                    </div>

                    <div class="form-inline form-group ">
                        <label>照片：</label>
                        <img th:src="@{/upload/member/nophoto.png}" alt="请上传照片" id="preview"
                             style="height: 10rem;width: 10rem;border-radius: 5px;cursor: pointer"/><br/>
                        <span class="btn btn-xs btn-success" style="margin-top: 2rem" id="reUpload">上传（2M以内）</span>
                        <span></span>
                        <input type="file" style="display: none" name="pic" id="pic"/>
                    </div>

                    <div class="form-inline form-group ">
                        <label>年龄：</label>
                        <input class="form-control" placeholder="请输入年龄" id="age" name="age"/>
                        <span th:id="ageMsg" style="margin-left: 2rem"></span>
                    </div>
                    <div class="form-inline form-group ">
                        <label>性别：</label>
                        <input class="form-control" type="radio" name="sex" th:value="男" th:checked="true"/><label>男&nbsp;&nbsp;&nbsp;&nbsp;</label>
                        <input class="form-control" type="radio" name="sex" th:value="女"/><label>女</label>
                    </div>
                    <div class="form-inline form-group ">
                        <label>部门：</label>
                        <select class="form-control" id="dept" name="dept">
                            <option value="">请选择部门</option>
                            <option th:value="${dept.deptid}" th:each="dept:${allVo}"
                                    th:text="${dept.dname}"></option>
                        </select>
                        <span th:id="deptMsg" style="margin-left: 2rem"></span>
                    </div>
                    <div class="form-inline form-group ">
                        <label>职位：</label>
                        <select class="form-control" id="jobid" name="jobid">
                            <option id="jobOne" value="">请选择职位</option>
                        </select>
                        <span th:id="jobidMsg" style="margin-left: 2rem"></span>
                    </div>
                    <div class="form-inline form-group ">
                        <label>电话：</label>
                        <input class="form-control" placeholder="请输入电话" id="phone" name="phone"/>
                        <span th:id="phoneMsg" style="margin-left: 2rem"></span>
                    </div>
                    <div class="form-inline form-group ">
                        <button type="submit" class="btn btn-success">确认添加</button>
                        <a th:href="@{/pages/back/loginSuccess}">
                            <button class="btn btn-danger" type="button">取消添加</button>
                        </a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>

</html>
