<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="overflow-x:hidden" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro" >
<head th:include="plugins/include_javascript::js"></head>
<link type="text/css" rel="stylesheet" th:href="@{/css/pages/back/menu.css}"/>
<script type="text/javascript" th:src="@{/js/pages/back/index.js}"></script>
<style type="text/css">
    #dntb tr td,#roletb tr td{
        vertical-align: middle;
        padding: 5px;
    }
</style>
<body style="visibility: hidden" id="body">
<div class="container-fluid">
    <div id="hisRoleWindow" class="modal fade" aria-labelledby="title" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="text-align: center">
                    <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <label id="hisRoleTitle">此员工拥有的角色如下：</label>
                </div>
                <div class="modal-body">
                    <table class="table  table-hover" style="text-align: center" id="hisRoleTable">
                        <tr id="hisRole-row">
                            <td>角色名称</td>
                            <td>角色说明</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <small style="text-align: center;font-size: 1rem;color: gray">Esc键、或单机灰色区域关闭窗口</small>
                    <button class="btn btn-danger" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <div id="addRoleWindow" class="modal fade" aria-labelledby="title" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="text-align: center">
                    <button class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <label id="modalTitle">为选定员工增加角色,请选择角色</label>
                </div>
                <div class="modal-body">
                    <table class="table  table-hover  " style="text-align: center" id="roletb">
                        <tr id="role-row" style="font-weight: 550">
                            <td style="padding: 0;">多选</td>
                            <td style="padding: 0;width: 2rem" >角色ID</td>
                            <td style="padding: 0;width: 10rem">角色名称</td>
                            <td style="padding: 0">角色说明</td>
                        </tr>
                    </table>
                    <div class="form-inline hidden-xs" >
                        <input type="checkbox" style="width: 10%" class="form-control" id="checkAllRole"/>全选
                        <button class="btn btn-success" id="plRoleAddToMember">将选中角色添加至选中用户</button>
                        <button class="btn btn-warning" id="plRoleRemoveFromMember">将选中角色从用户移除</button>
                        <button class="btn btn-danger" data-dismiss="modal">取消</button>
                    </div>
                    <table class="table  table-hover table-responsive" style="text-align: center">
                        <tr class="visible-xs">
                            <td colspan="4">
                                <input type="checkbox" id="checkAllRole"
                                       class="form-control checkbox-inline"/><span></span>全选
                            </td>
                        </tr>
                        <tr class="visible-xs">
                            <td colspan="4">
                                <button class="btn  btn-success " id="plRoleAddToMember">将选中角色添加至选中员工</button>
                            </td>
                        </tr>
                        <tr class="visible-xs">
                            <td colspan="4">
                                <button class="btn btn-warning " id="plRoleRemoveFromMember">将选中角色从员工移除</button>
                            </td>
                        </tr>
                        <tr class="visible-xs">
                            <td colspan="4">
                                <button class="btn btn-info " data-dismiss="modal">取消</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <small style="text-align: center;font-size: 1rem;color: gray">Esc键、或单机灰色区域关闭窗口</small>
                    <button class="btn btn-danger" data-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="plugins/head_menu::head_menu"></div><!--引入写好的头部和左侧信息-->
    <div id="contentDiv"><!--这里是主体-->
        <div style="text-align: center;font-size: 4rem">员工列表</div>
        <div th:replace="plugins/search::search"></div>
        <div class="row">
            <div class="col-xs-12">
                <table id="dntb" class="table  table-hover table-responsive" style="text-align: center">
                    <tr id="row1" style="font-weight: bold">
                        <td >多选</td>
                        <td style="width: 6rem;">照片</td>
                        <td>用户名</td>
                        <td>姓名</td>
                        <td>办公电话-私人电话</td>
                        <td>部门</td>
                        <td>职位</td>
                        <td>年龄</td>
                        <td>性别</td>
                        <td><select class="form-control" id="status">
                            <option th:value="null">所有状态</option>
                            <option th:value="1" id="normal">正常状态</option>
                            <option th:value="999" id="locked">锁定状态</option>
                            <option th:value="2" id="deleted">删除状态</option>
                        </select></td>
                        <td>入职日期</td>
                        <td>操作</td>
                    </tr>

                    <tr shiro:hasRole="member:总经理-副总">
                        <td ><input type="checkbox" id="selectAll" class="form-control checkbox-inline"/><span></span>全选
                        </td>
                        <td colspan="2">
                            <button class="btn btn-xs btn-info" id="plAddRole"  shiro:hasAnyRoles="roleAndAction:superAdmin,roleAndAction:总经理">为员工重新分配角色</button>
                        </td>
                        <td>
                            <button class="btn btn-xs btn-warning" id="plSuo">批量锁定</button>
                        </td>
                        <td>
                            <button class="btn btn-xs btn-success" id="plJie">批量解锁</button>
                        </td>
                        <td  >
                            <button class="btn btn-xs btn-danger" id="plShan">批量删除</button>
                        </td>
                        <td  >
                            <button class="btn btn-xs btn-success" id="plHui">批量恢复</button>
                        </td>

                    </tr>
                </table>

            </div>
        </div>
        <div th:replace="plugins/splitBar::splitBar">
        </div>

    </div>
</div>
</body>
<script type="text/javascript" th:inline="javascript" th:src="@{/js/pages/back/member/member_list.js}"></script>
</html>
