.row > div { /*设置与屏幕的*/
    padding: 0;
}

#companyTitle div {
    text-align: center;
    white-space: nowrap;
    padding: 5px
}

#companyTitle div:nth-child(1) {
    color: #00a2e9;
    font-size: 20px;
}

#advantage{
    background: white;
    text-align: left;
}

#companyTitle div:nth-child(2) {
    color: rgb(255, 255, 255);
    font-size: 12px;
}

#advantage img {
    width: 60px;
    padding: 8px;
}

.phonejianju * {
    margin-left: 10px;
}

.phone {

    font-size: 12px;
    color: #969696;
    width: 90%;display: block
}

.title {
    font-size: 14px;
}

#service img {
    height: 60px;
}

#wangzhan div, #wangzhan img {
    margin-right: 0;
}

#ruanjian div, #ruanjian img {
    margin-right: 0;
}



#service *:not(#myservice) {
    font-size: 12px;

}

#myservice {
    margin-top: 20px;
    margin-bottom: 20px;
}

#service > div {
    height: 250px;
}

#buzhou img {
    height: 40px;
}

[role=form] input, [role=form] select {

    margin: 5px 0 5px 0;
}

[role=form] button {

    margin: 5px 0 5px 0;

}

[role=form] textarea {

    margin-bottom: 0px;

}

#claimDiv {
    text-align: right;
    padding: 0 5px 0 5px;
}
#yusuanDiv{
    padding: 0 5px 0 5px;

}

[role=form] button {
    color: black;
    background: #00a2e9;
    border: none;
}



