
@media (min-width: 1200px) {
    #companyTitle div:nth-child(1) {
        font-size: 55px;
    }

    #advantage {
        text-align: center;
    }

    #companyTitle div:nth-child(2) {
        font-size: 35px;
    }

    #advantage img {
        width: 100px;
        padding: 20px
    }

    #fengexian {
        margin-top: -10px;
    }

    #price span, #advantage span {
        font-size: 20px;
        color: #000000;
    }

    #price p {
        font-size: 14px;
        color: #646464;
    }


    #wangzhan div, #wangzhan img {
        margin-right: -400px;
    }

    #ruanjian div, #ruanjian img {
        margin-right: 400px;
    }

    #service *:not(#myservice) {
        font-size: 15px;
    }

    #service img {
        height: 150px;
    }

    #service > div {
        height: 800px;
    }

    #myservice {
        margin-top: 100px;
        margin-bottom: 100px;
    }

    #buzhou img {
        height: 100px;
    }



    [role=form] input, [role=form] select {
        height: 50px;

    }

    #rand {
        width: 150px;
        height: 50px;
    }

    [role=form] textarea {
        height: 50px;
    }

    [role=form] button {
        height: 50px;
        /*background: radial-gradient(circle, red, yellow, green);圆形渐变*/

    }

    select option {
        color: white;
    }

    #claim {
        width: 270px;
        height: 50px;
        resize: none;
        overflow-y: hidden;
    }

    #claimDiv {
        text-align: right;
        padding: 5px;
    }


}
