<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="overflow-x:hidden">
<head th:include="plugins/include_javascript::js"></head>
<link type="text/css" rel="stylesheet" th:href="@{/css/pages/back/menu.css}"/>

<script type="text/javascript" th:src="@{/js/pages/back/index.js}"></script>
<script type="text/javascript ">

    $(function () {
        $("#formDiv").validate({
            debug: true, // 取消表单的提交操作
            submitHandler: function (form) {
                //出现数据加载
                showLoadingData();
                $.post("/pages/back/dept/add", {
                    dname: $("#dname").val()
                }, function (res) {
                        if (res){
                            showAlert($("#successMsg"),"部门增加成功！")
                            $("#dname").val("")
                        }else {
                            showAlert($("#failureMsg"),"部门增加失败！")
                        }
                    hideLoadingData();

                }, "json");

            },
            errorPlacement: function (error, element) {
                $("#" + $(element).attr("id") + "Msg").append(error);
            },
            highlight: function (element, errorClass) {
                $(element).fadeOut(1, function () {
                    $(element).fadeIn(1, function () {
                        $(element).css({
                            "box-shadow": "0 0 10px rgba(255,0,0,1)"
                        })
                    });

                })
            },
            unhighlight: function (element, errorClass) {
                $(element).fadeOut(1, function () {
                    $(element).fadeIn(1, function () {
                        $(element).css({
                            "box-shadow": "0 0 10px rgba(0,255,0,1)"
                        });
                    });
                })
            },
            errorClass: "text-danger",
            messages: {
                dname: {
                    required: "请输入部门名称",
                    remote: "该部门已存在"
                }
            },
            rules: {
                dname: {
                    required: true,
                    remote: {
                        url: "/pages/back/dept/checkDname", // 后台处理程序
                        type: "post", // 数据发送方式
                        dataType: "json", // 接受数据格式
                        data: { // 要传递的数据
                            dname: function () {//必须用过这样的方式取得表单数据
                                return $("#dname").val();
                            }
                        },
                        dataFilter: function (data) {
                            return data;
                        }
                    }
                }

            }
        });

    })


</script>
<body style="overflow-x:hidden;visibility: hidden" id="body">
<div class="container-fluid">
    <div th:replace="plugins/head_menu::head_menu"></div><!--引入写好的头部和左侧信息-->
    <div id="contentDiv"><!--这里是主体-->
        <div style="text-align: center;font-size: 4rem">增加部门</div>
        <div class="row">
            <div class="col-xs-10 col-xs-push-1 " style="border: solid #d3d3d3 1px;border-radius: 5px;">
                <form class="form" id="formDiv" enctype="multipart/form-data" method="post"
                      th:action="@{/pages/back/dept/add}">
                    <div class="form-inline form-group ">
                        <label>部门名称：</label>
                        <input class="form-control" type="text" placeholder="请输入部门名称" name="dname" id="dname"/>
                        <span th:id="dnameMsg" style="margin-left: 2rem"></span>
                    </div>
                    <div class="form-inline form-group ">
                        <button type="submit" class="btn btn-success">确认添加</button>
                        <a th:href="@{/pages/back/loginSuccess}">
                            <button class="btn btn-danger" type="button">取消添加</button>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>
