<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" style="overflow-x:hidden" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:include="plugins/include_javascript::js"></head>
<link type="text/css" rel="stylesheet" th:href="@{/css/pages/back/menu.css}"/>
<script type="text/javascript" th:src="@{/js/pages/back/index.js}"></script>
<style type="text/css">
    #depttb tr td {
        vertical-align: middle;
    }
</style>
<body style="visibility: hidden" id="body">
<div class="container-fluid">
    <div th:replace="plugins/head_menu::head_menu"></div><!--引入写好的头部和左侧信息-->
    <div id="contentDiv"><!--这里是主体-->
        <div style="text-align: center;font-size: 4rem">部门列表</div>
        <div class="row">
            <div class="col-xs-12">
                <table id="depttb" class="table  table-hover table-responsive  " style="text-align: center">
                    <tr id="row1">
                        <td>部门编号</td>
                        <td>部门名称</td>
                        <td>部门人数</td>
                        <td>操作</td>
                    </tr>
                    <tr th:each="dept:${allVo}">
                        <td th:text="${dept.deptid}"></td>
                        <td>
                            <input th:id="'dname-'+${dept.deptid}" class="form-control" th:value="${dept.dname}"/>
                        </td>
                        <td th:id="'renshu-'+${dept.deptid}" th:text="${dept.renshu}"></td>
                        <td>
                            <button class="btn btn-primary" style="margin: 1rem"
                                    th:id="'edit-'+${dept.deptid}">修改
                            </button>
                            <button class="btn btn-danger" th:id="'dele-'+${dept.deptid}">删除</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">
    $(function () {
        $("[id^=edit-]").each(function () {
            $(this).click(function () {
                var did = this.id.split('-')[1];
                $.post("/pages/back/dept/edit", {
                    deptid: did,
                    dname: $("#dname-" + did).val()
                }, function (res) {
                    if (res) {
                        showAlert($("#successMsg"), "部门修改成功！");
                    } else {
                        showAlert($("#failureMsg"), "部门修改失败！");

                    }
                }, "json")
            })
        });
        $("[id^=dele-]").each(function () {
            $(this).click(function () {
                var did = this.id.split('-')[1];
                var tr = $(this).parent().parent();
                if(parseInt($("#renshu-"+did).text())>0){
                    showAlert($("#failureMsg"), "部门删除失败,该部门有员工，请先将员工转移！");
                    return;
                }
                areYouSure("注意！删除将不可恢复，您确定要删除吗？", function () {
                    $.post("/pages/back/dept/delete", {deptid: did,renshu:$("#renshu-"+did).text()}, function (res) {
                        if (res) {
                            showAlert($("#successMsg"), "部门删除成功！");
                            tr.remove();

                        } else {
                            showAlert($("#failureMsg"), "部门删除失败！")
                        }
                    }, "json")
                })

            })

        })
    })
</script>
</html>
